@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/*CABECALHO*/
.cabecalho{
    background-color: #6496CA;
}
.img-cabecalho{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 16px;
    top: 12px;
    margin-left: 15px;
}

.nav-link{
    color: #F9E2E7 !important;
    font-size: 20px !important;
}

.nav-link:hover{
    color: #31395E !important;
}

/*CARROUSEL*/
.carousel-inner{
    height: 632px;
    margin-top: 65px;
}

/*SEJA BEM VINDO*/
.seja-bem-vindo{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.sejabem-vindo{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: #31395E;
    font-family: 'Great Vibes', cursive;
    font-size: 75px;
}
.sejabem-vindo:before{
    content: "-----";
    justify-content: center;
    color: #041E42;
}
.sejabem-vindo:after{
    content: "-----";
    justify-content: center;
    color: #041E42;
}
.texto-seja-bem-vindo{
    display: flex;
    text-align: center;
    color: #041E42;
    font-family: 'Karma';
    font-size: 38px;
}

/*INFORMACOES*/
.informacoes{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: #31395E;
    font-family: 'Great Vibes', cursive;
    font-size: 75px;
}
.informacoes:before{
    content: "-----";
    justify-content: center;
    color: #041E42;
}
.informacoes:after{
    content: "-----";
    justify-content: center;
    color: #041E42;
}
.algumas-informacoes{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.texto-informacoes{
    display: flex;
    text-align: center;
    color: #041E42;
    font-family: 'Karma';
    font-size: 38px;
}

/*FOOTER*/
.foot{
    background-color: #6496CA;
    width: 100%;
    height: 230px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.foot{
    display: flex;
    flex-direction: column;
}
.ester-lucas{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: #041E42;

}
.data{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    color: #041E42;
}
.feito-por-nos{
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
    color: #041E42;
}
